@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/open-sans.woff2") format("woff2"), url("../fonts/open-sans.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/playfair-display.woff2") format("woff2"), url("../fonts/playfair-display.woff") format("woff");
}

@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/playfair-display-bold.woff2") format("woff2"), url("../fonts/playfair-display-bold.woff") format("woff");
}

.container,
body {
  box-sizing: border-box;
}

body {
  padding: 0;
  font-weight: 400;
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: #f9fdff;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1220px;
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.page-main h1,
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  font-size: 1px;
  white-space: nowrap;
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}

@media (max-width: 767px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .no-scroll {
    overflow: hidden;
  }
}

.page-header {
  overflow: hidden;
}

.page-header__wrapper {
  display: flex;
  padding-top: 85px;
  position: relative;
}

.page-header__wrapper::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 200%;
  top: 0;
  left: 65.5%;
  background-color: #fceae8;
  z-index: -1;
}

.page-header__logo {
  padding-top: 5px;
}

.page-header__site-nav {
  flex-grow: 1;
  margin-left: 140px;
  padding-top: 5px;
}

@media (max-width: 1023px) {
  .page-header__wrapper {
    padding-top: 50px;
    background: linear-gradient(to left, #fceae8 300px, #f9fdff 300px);
  }
}

@media (max-width: 767px) {
  .page-header {
    padding-bottom: 16px;
    overflow: visible;
    background: #ffffff;
  }

  .page-header__wrapper {
    flex-wrap: wrap;
    width: 100%;
    padding: 20px 14px 0 16px;
    box-sizing: border-box;
    background: #ffffff;
  }

  .page-header__wrapper::before {
    display: none;
  }

  .page-header__wrapper .page-header__user-nav {
    margin-left: auto;
  }

  .page-header__logo {
    width: 20px;
    padding-top: 2px;
  }

  .page-header__site-nav {
    order: 2;
    margin-left: 0;
    flex-grow: 0;
  }

  .page-header__user-nav {
    width: auto;
  }
}

.site-nav__list {
  display: flex;
  flex-wrap: wrap;
  width: 380px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav__item {
  width: 33.3%;
}

.site-nav__item:nth-child(3n) {
  text-align: right;
}

.site-nav__item a {
  font-size: 14px;
  line-height: 19px;
  color: #303032;
  text-transform: uppercase;
  letter-spacing: .13em;
}

.site-nav__item a:focus,
.site-nav__item a:hover {
  opacity: 0.8;
}

.site-nav__item a:active {
  opacity: 0.6;
}

.site-nav__button {
  display: none;
}

@media (max-width: 767px) {
  .site-nav__list {
    flex-direction: column;
    width: 100%;
  }

  .site-nav__item {
    width: 100%;
    margin: 15px 0;
    padding: 0;
    text-align: center;
  }

  .site-nav__item:nth-child(3n) {
    text-align: center;
  }

  .site-nav__item a {
    font-size: 18px;
    line-height: 25px;
  }

  .site-nav {
    padding-top: 2px;
  }

  .site-nav--closed {
    width: auto;
  }

  .site-nav--closed .site-nav__list {
    display: none;
  }

  .site-nav--closed .site-nav__button {
    display: block;
    width: 29px;
    height: 19px;
    margin-left: 38px;
    background-color: transparent;
    background-image: url("../img/icon-burger.svg");
    background-repeat: no-repeat;
    background-size: 29px 19px;
    background-position: center;
    border: 0;
    outline: 0;
    cursor: pointer;
  }

  .site-nav--opened {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    padding-top: 187px;
    box-sizing: border-box;
    background-color: #303032;
    overflow: auto;
  }

  .site-nav--opened .site-nav__list {
    display: flex;
    z-index: 100;
  }

  .site-nav--opened .site-nav__item {
    margin-top: 0;
    margin-bottom: 65px;
  }

  .site-nav--opened .site-nav__item a {
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
  }

  .site-nav--opened .site-nav__button {
    position: absolute;
    top: 25px;
    right: 25px;
    display: block;
    width: 30px;
    height: 30px;
    background-color: transparent;
    background-image: url("../img/icon-cross.svg");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;
    border: 0;
    outline: 0;
    cursor: pointer;
  }

  .site-nav--no-js {
    width: 100%;
  }

  .site-nav--no-js .site-nav__list {
    display: flex;
  }

  .site-nav--no-js .site-nav__button {
    display: none;
  }
}

.user-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0 10px 0 0;
  padding: 0;
  list-style: none;
}

.user-nav__item {
  margin-left: 22px;
}

.user-nav__item a {
  display: block;
}

.user-nav__item a:focus,
.user-nav__item a:hover {
  opacity: 0.8;
}

.user-nav__item a:active {
  opacity: 0.6;
}

.user-nav__item--cart a,
.user-nav__item--search a {
  width: 24px;
  height: 28px;
  background-image: url("../img/icon-magnifier.svg");
  background-repeat: no-repeat;
  background-size: 24px 27px;
  background-position: center bottom;
}

.user-nav__item--cart a {
  width: 33px;
  background-image: url("../img/icon-cart.svg");
  background-size: 33px 28px;
  background-position: center;
}

@media (max-width: 767px) {
  .user-nav {
    margin-right: 0;
  }

  .user-nav__item {
    margin-left: 19px;
  }

  .user-nav__item--search {
    margin-top: 2px;
  }

  .user-nav__item--search a {
    width: 26px;
    height: 26px;
    background-size: 26px 26px;
    background-position: center center;
  }

  .user-nav__item--cart a {
    width: 28px;
    height: 24px;
    background-size: 28px 24px;
  }
}

.page-main {
  overflow: hidden;
}

.main-screen {
  position: relative;
}

.main-screen::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100vw;
  top: 0;
  left: 64.5%;
  background-color: #fceae8;
  z-index: -1;
}

.main-screen .swiper-pagination {
  top: 216px;
  left: auto;
  right: 2.3%;
  width: 41px;
}

.main-screen .swiper-pagination-bullets .swiper-pagination-bullet {
  margin-bottom: 0 0 20px 0;
}

.main-screen .swiper-pagination-bullets .swiper-pagination-bullet-active {
  margin-top: -20px;
}

.main-screen .swiper-slide {
  background: linear-gradient(to right, #f9fdff 66.1%, #fceae8 66.1%);
}

.main-screen .swiper-scrollbar {
  display: none;
}

.main-screen .swiper-pagination-bullet {
  width: 41px;
  height: 29px;
  font-family: "Playfair Display", "Georgia", serif;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0.05em;
  text-align: right;
  text-transform: uppercase;
  color: rgba(0, 0, 0, .3);
  background: 0 0;
  border-radius: none;
  opacity: 1;
}

.main-screen .swiper-pagination-bullet:focus,
.main-screen .swiper-pagination-bullet:hover {
  color: rgba(0, 0, 0, .8);
  outline: 0;
}

.main-screen .swiper-pagination-bullet-active {
  position: relative;
  width: 41px;
  height: 58px;
  margin-top: -20px;
  font-size: 40px;
  line-height: 58px;
  color: #000000;
}

.main-screen .swiper-pagination-bullet-active::after {
  content: "";
  position: absolute;
  top: 6px;
  right: -20px;
  width: 2px;
  height: 54px;
  background-color: #000000;
}

@media (max-width: 1023px) {
  .main-screen .swiper-slide {
    background: linear-gradient(to right, #f9fdff 66.1%, #fceae8 62.1%);
  }

  .main-screen .swiper-pagination {
    top: 244px;
    left: auto;
    width: 41px;
  }
}

@media (max-width: 767px) {
  .main-screen::before {
    height: 327px;
  }

  .main-screen .swiper-scrollbar {
    bottom: 21px;
    left: 0;
    width: calc(100% - 64px);
    height: 2px;
    display: block;
  }

  .main-screen .swiper-pagination {
    top: auto;
    bottom: 9px;
    right: 0;
    width: auto;
    height: auto;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
  }

  .main-screen .swiper-slide {
    background: #f9fdff 64%;
  }
}

.product--slider,
.product--slider .product__info,
.product--slider .product__info p {
  display: flex;
}

.product--slider {
  min-height: 628px;
  box-sizing: border-box;
  padding-top: 7px;
}

.product--slider .product__info {
  position: relative;
  flex-direction: column;
  flex-shrink: 1;
  width: 566px;
}

.product--slider .product__info h2 {
  width: 300px;
  margin: 109px 0 25px;
  padding: 0;
  font-family: "Playfair Display", "Georgia", serif;
  font-weight: 700;
  font-size: 57px;
  line-height: 83px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #303032;
}

.product--slider .product__info h3 {
  margin-top: 0;
  margin-bottom: 11px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #303032;
}

.product--slider .product__info p {
  margin-top: 0;
  margin-bottom: 35px;
  font-weight: 500;
  font-size: 30px;
  line-height: 41px;
  color: #303032;
}

.product--slider .product__info p span {
  margin-top: 11px;
  margin-right: 22px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}

.product--slider .product__button {
  width: 238px;
  margin-bottom: 156px;
  padding: 18px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: .13em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #303032;
  border: 0;
  cursor: pointer;
}

.page-footer__navigation-item a:focus,
.page-footer__navigation-item a:hover,
.product--slider .product__button:focus,
.product--slider .product__button:hover {
  opacity: 0.8;
}

.page-footer__navigation-item a:active,
.product--slider .product__button:active {
  opacity: 0.6;
}

.product--slider .product__image {
  margin-right: 6.7%;
  width: 532px;
  height: 628px;
}

.product--slider .product__image img {
  width: 532px;
  height: auto;
  margin-top: -123px;
}

.product--new,
.product--sale {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product--new .product__image {
  width: 100%;
  height: 201px;
  overflow: hidden;
}

.product--new h3,
.product--new p {
  width: 100%;
  margin: -2px 0 7px;
  padding: 0 5px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #303032;
  text-align: center;
}

.product--new p {
  margin: 0 0 17px;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
}

.product--sale {
  position: relative;
  margin-bottom: 65px;
  padding-top: 30px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, .05);
  cursor: pointer;
}

.product--sale:focus::before,
.product--sale:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #303032;
}

.product--sale:focus .product__button,
.product--sale:hover .product__button {
  display: block;
}

.product--sale .product__image {
  width: 100%;
  height: 255px;
  overflow: hidden;
}

.product--sale .product__price-wrapper,
.product--sale h3 {
  width: 100%;
  box-sizing: border-box;
}

.product--sale h3 {
  padding-left: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  margin: 0 0 10px;
}

.product--sale .product__price-wrapper {
  display: flex;
  margin: 0 0 0 25px;
}

.product--sale .product__price {
  font-weight: 500;
}

.product--sale .product__price--new {
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: #303032;
}

.product--sale .product__price--old {
  margin-top: 11px;
  margin-left: 16px;
  font-size: 16px;
  line-height: 22px;
  color: #979798;
  text-decoration: line-through;
}

.product--sale .product__button {
  position: absolute;
  bottom: -45px;
  display: none;
  width: 100%;
  padding: 18px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: .13em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #303032;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.product--caramel img {
  display: block;
  width: 209px;
  margin-left: auto;
  margin-top: 3px;
}

.product--cloud img,
.product--owl img {
  display: block;
  width: 197px;
  margin-left: auto;
}

.product--owl img {
  width: 167px;
  margin-top: 9px;
}

.product--maya img,
.product--messi img {
  display: block;
  width: 186px;
  margin-left: auto;
  margin-top: -30px;
}

.product--messi img {
  width: 162px;
  margin-top: 6px;
}






/*container-two*/

.page-product {
  max-width: 1220px;
  min-width: 320px;
  margin: 0 auto;
  margin-top: 50px;
}

.card-page-product {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-product {
  display: flex;
  flex-wrap: wrap;
  width: 570px;
  height: 614px;
  justify-content: space-between;
  align-items: center;
}

.card-text-2 {
  font-family: 'Playfair Display';
  font-size: 28px;
  font-weight: 600;
}

.card-text-3 {
  width: 90px;
  height: 4px;
  background: black;
  margin-top: 15px;
}

.card-new {
  display: flex;
  align-items: flex-start;
  width: 270px;
  height: 289px;
  flex-direction: column;
  justify-content: center;
}

.text-name {
  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: 100;
}



.image {
  width: 175px;
  height: 169px;
  object-fit: cover;
}

.image-big {
  width: 490px;
  height: 466px;
  object-fit: cover;
}

.card-img {
  align-items: center;
  display: flex;
  justify-content: center;
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-card {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 570px;
  height: 614px;
  background: #ffffff;
  flex-direction: column;
  cursor: pointer;
}

.product-chair {
  width: 270px;
  height: 289px;
  background: #ffffff;
  cursor: pointer;
}

.product-candelier {
  width: 270px;
  height: 289px;
  background: #ffffff;
  cursor: pointer;
}

.product-table {
  width: 270px;
  height: 289px;
  cursor: pointer;
  background: #ffffff;
}


.product-chair:hover,
.product-candelier:hover,
.product-table:hover,
.big-card:hover {
  background: #FAECE9;
}













@media (max-width: 1170px) {
  .card-product {
    width: 100%;
    height: 100%;
  }

  .card-new,
  .product-chair,
  .product-candelier,
  .product-table {
    width: 49%;
    height: 63%;
    margin-bottom: 23px;
  }

  .big-card {
    width: 100%;
    height: 100%;
  }
}



@media (max-width: 1023px) {
  .product--slider {
    min-height: auto;
    background: linear-gradient(to left, #fceae8 280px, #f9fdff 280px);
  }

  .product--slider .product__info {
    width: auto;
  }

  .product--slider .product__info h2 {
    width: 250px;
    font-size: 33px;
    line-height: 50px;
  }

  .product--slider .product__button {
    margin-bottom: 100px;
  }

  .product--slider .product__image {
    margin-right: 40px;
    margin-left: auto;
    width: 400px;
    height: 564px;
  }

  .product--slider .product__image img {
    width: 532px;
    height: auto;
    margin-top: -50px;
  }
}








@media (max-width: 970px) {
  .card-product {
    width: 100%;
    height: 100%;
  }

  .card-new,
  .product-chair,
  .product-candelier,
  .product-table {
    width: 49%;
    height: 100%;
  }

  .big-card {
    width: 100%;
    height: 644px;
  }
}




@media (max-width: 800px) {
  .card-product {
    width: 100%;
    height: 100%;
  }


  .card-new,
  .product-chair,
  .product-candelier,
  .product-table {
    width: 24%;
    height: 100%;
  }

  .text-name {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}






@media (max-width: 767px) {
  .product--slider {
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: auto;
    padding: 0 0 60px;
    background: #f9fdff;
  }

  .product--slider .product__info {
    order: 2;
    box-sizing: border-box;
  }

  .product--slider .product__info h2 {
    width: 100%;
    margin-top: 26px;
    margin-bottom: 21px;
    box-sizing: border-box;
    font-size: 27px;
    line-height: 46px;
  }

  .product--slider .product__info h3 {
    margin-bottom: 6px;
  }

  .product--slider .product__info p {
    margin-bottom: 30px;
  }

  .product--slider .product__info p span {
    margin-top: 9px;
  }

  .product--slider .product__image {
    display: flex;
    width: 100%;
    height: 327px;
    background: linear-gradient(to right, #f9fdff 64%, #fceae8 64%);
    overflow: hidden;
  }

  .product--slider .product__image img {
    display: block;
    width: 277px;
    height: 391px;
    padding-left: 27px;
    margin: -32px auto 0;
  }

  .product--slider .product__button {
    width: 100%;
    margin-bottom: 0;
  }

  .product--sale {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 110px;
  }

  .product--sale .product__image {
    height: 299px;
  }

  .product--sale .product__button {
    display: block;
  }

  .product--sale::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #303032;
  }

  .product--caramel {
    padding-top: 30px;
  }

  .product--caramel h3,
  .product--caramel p {
    padding-left: 25px;
  }

  .product--caramel img {
    display: block;
    width: 232px;
    height: 287px;
    margin-left: auto;
    margin-top: 12px;
  }
}





@media (max-width: 535px) {
  .card-product {
    width: 100%;
    height: 100%;
  }

  .card-new {
    width: 100%;
    height: 200px;
  }

  .product-chair,
  .product-candelier,
  .product-table {
    width: 100%;
    height: 100%;
    margin-bottom: auto;
  }
}






@media (max-width: 425px) {
  .card-product {
    width: 100%;
    height: 100%;
  }

  .card-new {
    .card-new {
      width: 100%;
      height: 200px;
    }
  }

  .product-chair,
  .product-candelier,
  .product-table {
    width: 100%;
    height: 100%;
  }

  .big-card {
    width: 100%;
    height: 100%;
  }
}





/*swiper-container-2*/

.swiper-container-2 {
  margin: 60px 0;
  position: relative;
}

.swiper-wrapper-2 {}

.swiper-container-2-button-prev {
  left: 318px;
  color: #00000000;
}

.swiper-container-2-button-next {
  right: 326px;
  color: #00000000;
}


.swiper-container-2-button-prev {
  left: 326px;
  position: absolute;
  top: 33%;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  box-shadow: 0px 0px 11px -6px #000000;
  cursor: pointer;
  z-index: 1;
}

.swiper-container-2-button-next {
  right: 326px;
  position: absolute;
  top: 33%;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  box-shadow: 0px 0px 11px -6px #000000;
  cursor: pointer;
  z-index: 1;
}

.swiper-button {
  display: block;
  margin: 13px auto;
}

.swiper-container-2-button-prev:hover,
.swiper-container-2-button-next:hover {
  background: #FAECE9;
}



.slide-feedback {
  height: 276px;
  width: 653px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar-img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.feedback-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.feedback-text {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: lighter;
  font-size: 16px;
  width: 653px;
  height: 69px;
  text-align: center;
}

.swiper-container-2-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}




/*page-header-2*/

.page-header-2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  height: 152px;
}

.page-heading {
  display: flex;
  font-family: Bold;
  font-size: 28px;
  font-weight: 600;
  flex-wrap: wrap;
}

.header-2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 325px;
  height: auto;
}

.heading-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.page-header-2-text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 25px;
  width: 275px;
  /* background: brown; */
  justify-content: flex-start;
  padding: 0;
  margin: 35px 0px;
}

.nav-list {
  font-family: 'Open Sans';
  list-style-type: none;
  margin: 0px 20px 0px 0px;
  opacity: .4;
}

.nav-list a {
  color: #303032;
}

.nav-list:hover {
  font-family: 'Open Sans';
  color: #000000;
  text-decoration: underline;
}

.chair-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 15px;
  color: #000000;
}

.chair-price {
  margin: 0;

}

.price {
  font-size: 28px;
  font-weight: 600;
}

.prise-2 {
  color: #979798;
  text-decoration: line-through;
  font-size: 16px;
}




/*swiper-container-3*/

.swiper-container-3 {
  max-width: 1220px;
  min-width: 320px;
  height: 590px;
  margin: 0 auto;
  /*  margin-top: 50px;*/
  position: relative;
}

.swiper-wrapper-3::before {
  content: "";
  position: absolute;
  height: 536px;
  width: 100vw;
  top: 0;
  right: 45%;
  background-color: #fceae8;
  z-index: -1;
}

.swiper-wrapper-3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-chair {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 209px;
  height: 355px;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 0px 0px 11px -10px #000000;
  position: relative;
  display: inline-block;
}

.card-chair:hover {
  background: hsl(0, 0%, 100%);
}




.card-chair-content {
  display: none;
  position: absolute;
  background-color: #1a1717;
  width: 209px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.card-chair-content a {
  color: #f9ebeb;
  padding: 18px 68px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-chair-content a:hover {
  background-color: #303032;
}

.card-chair:hover .card-chair-content {
  display: block;
}

.card-chair:hover .card-chair {
  background-color: #3e8e41;
}

.chair-content {
  position: absolute;
  top: -364px;
  width: 209px;
  height: 7px;
  background: #1a1717;
  margin-top: 15px;
}


.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.slide-chance {
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-photo {
  width: 209px;
  height: 255px;
}




/*footer*/

.footer-container {
  max-width: 1220px;
  margin: 0 auto;
}

.footer-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-lists {
  padding: 24px 0px;
  border-bottom: 1px solid #D9D9D9;
}

.footer-text {
  display: flex;
  flex-wrap: wrap;
  width: 505px;
  flex-direction: row;
  justify-content: space-between;
}

.footer-link {
  color: #000000;
  font-family: 'Open Sans';
}

.footer-social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.phone {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.phone-number {
  color: #000000
}

.mail {
  margin: 0 33px;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.email {
  margin: 0 10px;
  color: #000000;
}

.phone:hover,
.mail:hover {
  opacity: .3;
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.footer-secondary {
  opacity: .3;
  font-size: 10px;
  height: 13px;
  margin: 5px;
}











@media (max-width: 1023px) {
  .swiper-container-2-button-prev {
    left: 150px;
  }

  .swiper-container-2-button-next {
    right: 150px;
  }

  .swiper-container-3 {
    height: 990px;
  }

  .swiper-wrapper-3::before {
    height: 750px;
  }

}


@media (max-width: 768px) {
  .swiper-container-2-button-prev {
    left: 35px;
  }

  .swiper-container-2-button-next {
    right: 35px;
  }

}

@media (max-width: 535px) {
  .feedback-text {
    width: 484px;
  }

  .swiper-container-3 {
    height: 1370px;
  }
}

@media (max-width: 425px) {
  .feedback-text {
    width: 400px;
  }

  .card-chair {
    width: 45%;
  }

}

@media (max-width: 375px) {
  .swiper-container-2-button-prev {
    left: 35px;
  }

  .swiper-container-2-button-next {
    right: 35px;
  }

  .feedback-text {
    width: 330px;
  }

  .swiper-wrapper-3::before {
    height: 1170px;
  }

  .card-chair {
    width: 45%;
  }

}